{% extends 'userena/base_userena.html' %}
{% load i18n  widget_tweaks %}
{% load url from future %}
{% block title %}{% trans "Change password" %}{% endblock %}
{% block content_title %}<h2>{% blocktrans with user.username as username %}Account &raquo; {{ username }}{% endblocktrans %}</h2>{% endblock %}
{% block content %}
    <form action="" method="post" id="password_change_form">
        <fieldset>
            <legend>{% trans "Change Password" %}</legend>
            {% csrf_token %}
            {% for field in form.visible_fields %}
                {% include "field.html" with field=field|add_class:"input-xxlarge" %}
            {% endfor %}
            {% for field in form.hidden_fields %}{{ field }}{% endfor %}
        </fieldset>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">{% trans "Change password" %}</button>
        </div>
    </form>
{% endblock %}
