{% extends 'userena/base_userena.html' %}
{% load i18n widget_tweaks %}
{% load url from future %}
{% block title %}{% trans "Account setup" %}{% endblock %}
{% block content %}
    <div class="tabbable tabs-left">
        <div class="tab-content  active">
            <div class="tab-pane active" id="tab1">
                <form action="" enctype="multipart/form-data" method="post">{% csrf_token %}
                    <fieldset>
                        <legend>{% trans "Edit Profile" %}</legend>
                        {% for field in form.visible_fields %}
                            {% include "field.html" with field=field|add_class:"input-xxlarge" %}
                        {% endfor %}
                        {% for field in form.hidden_fields %}{{ field }}{% endfor %}
                    </fieldset>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">{% trans "Save changes" %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
